@import "../../../styles/color.scss";
@import "../../../styles/breakpoints.scss";

.btn{
    width: 186px;
    height: 40px;
    background-color: $white;
    border: 1px solid $orange;
    border-radius:5px;
    cursor: pointer;
    font-size: 20px;
    color: $orange;

    @media (max-width: $phones) {
        width: 100px;
      }
}